---
layout: home
title: UpScale
---

<div class="docs-header">
  {% include masthead.html %}
  <div class="docs-header-content">
    <p class="docs-subtitle">Unleashing the power of high-performance in real-time applications</p>
    <a data-ignore="push" href="https://github.com/upscale-sdk/UpScale/releases" class="btn btn-primary" onClick="_gaq.push(['_trackEvent', 'Downloads', 'V1.0.0']);">Download UpScale SDK</a>
    <p class="version">Currently v1.0.1</p>
  </div>

  <div class="docs-header-bottom">

    {% include footer.html %}
  </div>
</div>
