<header class="docs-masthead clearfix">
  <div class="container">
    <div class="column">
			
			
      <h1 class="docs-title">
        <img src="../assets/img/logo_negativo.svg" alt="">
      </h1>
      <nav class="docs-nav clearfix">
        <a class="docs-nav-trigger icon icon-bars pull-right js-docs-nav-trigger" href="#"></a>
        <div class="docs-nav-group">
          <a class="docs-nav-item" href="/" data-ignore="push">Home</a>
          <a class="docs-nav-item" href="/features" data-ignore="push">Features</a>
	  <a class="docs-nav-item" href="/documentation" data-ignore="push">Documentation</a>
	  <a class="docs-nav-item" href="/about" data-ignore="push">About</a>
          <a class="docs-nav-item" href="https://github.com/upscale-sdk/UpScale" data-ignore="push" target="_blank">GitHub project</a>
        </div>
      </nav>
    </div>
  </div>
</header>
