<div class="view view-partners view-id-partners view-display-id-page view-dom-id-31e897da1f4709520207d70b9eb691c1">
  <div class="view-content">
    <div class="views-row views-row-1 views-row-odd views-row-first">
      <div class="views-field views-field-title"> <span class="field-content">Instituto Superior de Engenharia do Porto</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/01.png?itok=9t1e1niu" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Luis Miguel Pinho</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:lmp@isep.ipp.pt">lmp@isep.ipp.pt</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://www.isep.ipp.pt">http://www.isep.ipp.pt</a></div>
      </div>
    </div>
	 <div class="views-row views-row-2 views-row-even">
      <div class="views-field views-field-title"> <span class="field-content">Barcelona Supercomputing Center</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/02.png?itok=aH2kW-Z5" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Eduardo Quiñones</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:eduardo.quinones@bsc.es">eduardo.quinones@bsc.es</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://www.bsc.es/">http://www.bsc.es/</a></div>
      </div>
    </div>
    <div class="views-row views-row-3 views-row-odd">
      <div class="views-field views-field-title"> <span class="field-content">University of Modena and Regio Emilia</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/Logo_A_Positivo_Colore.png?itok=OY7fD-0h" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Marko Bertogna</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:marko.bertogna@unimore.it">marko.bertogna@unimore.it</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://www.unimore.it">http://www.unimore.it</a></div>
      </div>
    </div>
    <div class="views-row views-row-4 views-row-even">
      <div class="views-field views-field-title"> <span class="field-content">ETH Zurich</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/05.png?itok=kAp4-Mjv" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Andrea Marongiu</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:a.marongiu@iis.ee.ethz.ch">a.marongiu@iis.ee.ethz.ch</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://ethz.ch">http://ethz.ch</a></div>
      </div>
    </div>
    <div class="views-row views-row-5 views-row-odd">
      <div class="views-field views-field-title"> <span class="field-content">Evidence</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/06_evidence_0.png?itok=HV0E7im1" width="217" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Paolo Gai</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:pj@evidence.eu.com">pj@evidence.eu.com</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://evidence.eu.com">http://evidence.eu.com</a></div>
      </div>
    </div>
    <div class="views-row views-row-6 views-row-even">
      <div class="views-field views-field-title"> <span class="field-content">Active Technologies</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/logoat_new.png?itok=yK5MNSi2" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Michele Ramponi</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:ramponi@activetechnologies.it">ramponi@activetechnologies.it</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="http://activetechnologies.it">http://activetechnologies.it</a></div>
      </div>
    </div>
    <div class="views-row views-row-7 views-row-odd views-row-last">
      <div class="views-field views-field-title"> <span class="field-content">Atos</span> </div>
      <div class="views-field views-field-field-image">
        <div class="field-content"><img typeof="foaf:Image" src="http://p-socrates.eu/sites/default/files/styles/medium/public/content-images/partners/Logo_RGB%20web.png?itok=4Hq9R-z6" width="220" height="220" alt=""></div>
      </div>
      <div class="views-field views-field-field-partner-contact">
        <div class="field-content">Juan Sancho</div>
      </div>
      <div class="views-field views-field-field-mail">
        <div class="field-content"><a href="mailto:juan.sancho@atos.net">juan.sancho@atos.net</a></div>
      </div>
      <div class="views-field views-field-field-url">
        <div class="field-content"><a href="https://atos.net">https://atos.net</a></div>
      </div>
    </div>
  </div>
</div>
